{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{> "carousel"}}

<div class="container marketing">
   <div class="row">
     {{> "loop"}}
   </div>

   {{> "features"}}
</div>
